<div class="container">
    <div class="row m-4">
        <app-add-book-form class="col-md-6 offset-md-3" (eventAddBook)="addBook($event)"></app-add-book-form>
    </div>
    <div class="row justify-content-around">
        <app-book-details *ngFor="let book of books" [book]="book" (eventSelectFavorite)="setFavorite($event)"
            (eventRemoveBook)="removeBook($event)" (eventLike)="like($event)" (eventDislike)="dislike($event)">
        </app-book-details>
    </div>
</div>