.card {
    width: 250px;
    margin: 12px 0 12px 0;
}

.close-bar, .vote-bar {
    display: flex;
    justify-content: end;
}

.vote-bar {
    font-size: 10px;
}

.favorite {
    background: lightgreen;
}

.favorite-icon {
    position: absolute;
    color: red;
    bottom: 22px;
    left: 19px;
}

.stock-bar {
    border: 1px solid;
}

.like, .dislike {
    display: flex;
    flex-direction: column;
}

.like-display, .dislike-display {
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: center;
}

.btn-like, .btn-dislike, .btn-remove-book {
    cursor: pointer;
}
