<div class="card" [ngClass]="{favorite: book.getIsFavorite()}">
    <div class="card-header close-bar">
        <span class="btn-remove-book material-icons" (click)="removeBook()">close</span>
    </div>

    <div class="card-body">
        <span *ngIf="book.getIsFavorite()" class="favorite-icon material-icons">favorite</span>
        <h5>{{book.title}}</h5>
        <p>ISBN:<span>{{book.isbn}}</span></p>
        <p>
            <span class="stock-bar" [style.border.color]="getStockStatus().color"
                [style.color]="getStockStatus().color">{{getStockStatus().message}}</span>
        </p>

        <button class="btn btn-primary" type="button" (click)="selectFavorite()">Favorito</button>
    </div>

    <div class="card-footer vote-bar">
        <div class="like">
            <span class="like-display">{{book.getLikes()}}</span>
            <a class="btn-like text-primary" (click)="like()"><span class="material-icons">thumb_up</span></a>
        </div>
        <div class="dislike">
            <span class="dislike-display">{{book.getDislikes()}}</span>
            <a class="btn-dislike text-primary" (click)="dislike()"><span class="material-icons">thumb_down</span></a>
        </div>
    </div>
</div>