<div class="card">
  <div class="card-header">
    <h4><span class="book-icon material-icons">book</span>Nuevo Libro</h4>
  </div>

  <div class="card-body p-4">
    <form [formGroup]="fg" (ngSubmit)="addBook(
    fg.controls['inputTitle'].value, 
    fg.controls['inputIsbn'].value, 
    fg.controls['inputStock'].value)">
      <div class="form-group">
        <label for="inputTitle">Titulo: </label>
        <input class="form-control" [formControl]="fg.controls['inputTitle']" type="text" id="inputTitle" required>
      </div>
      <div class="form-group">
        <label for="inputIsbn">Isbn: </label>
        <input class="form-control" [formControl]="fg.controls['inputIsbn']" type="text" id="inputIsbn"
          (focusout)="inputIsbnfocusOut()" required>
        <small class="form-text text-muted">Ingrese un ISBN válido. Ejem. 9781533559760</small>
        <small class="form-text text-muted" *ngIf="fg.controls['inputIsbn'].hasError('isbnInvalid')" class="error">El
          ISBN es inválido.</small>
      </div>
      <div class="form-group">
        <label for="inputStock">Stock: </label>
        <input class="form-control" [formControl]="fg.controls['inputStock']" type="number" min="0" id="inputStock">
        <small class="form-text text-muted">*Opcional. Ingrese la cantidad en stock.</small>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!fg.valid">Guardar</button>
    </form>
  </div>

</div>